<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Registrar Empleado</span>
            <button class="btn btn-dark btn-lg float-end" routerLink="/list-users"><i class="bi bi-arrow-return-left fs-4"></i> Regresar</button>
            <table class="table table-striped mt-5">
                <thead>
                    <tr>
                        <th scope="col">ID Tarjeta</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Estado</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><input type="text" class="form-control" placeholder="Nombre"></td>
                        <td><input type="text" class="form-control" placeholder="Apellido"></td>
                        <td>Inactivo</td>
                        <td>
                            <i class="bi bi-floppy-fill fs-3 text-success me-2"></i>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><input type="text" class="form-control" placeholder="Nombre"></td>
                        <td><input type="text" class="form-control" placeholder="Apellido"></td>
                        <td>Inactivo</td>
                        <td>
                            <i class="bi bi-floppy-fill fs-3 text-success me-2"></i>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><input type="text" class="form-control" placeholder="Nombre"></td>
                        <td><input type="text" class="form-control" placeholder="Apellido"></td>
                        <td>Inactivo</td>
                        <td>
                            <i class="bi bi-floppy-fill fs-3 text-success me-2"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>