<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Registrar Empleado Nuevo</span>
            <button class="btn btn-dark btn-lg float-end" routerLink="/list-users"><i
                    class="bi bi-arrow-return-left fs-4"></i> Regresar</button>

            <div>
                <table class="table table-striped table-hover mt-5">
                    <thead>
                        <tr>
                            <th scope="col">ID Tarjeta</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Estado</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let usuario of usuarios; index as i">
                        <tr *ngIf="usuario.userStatus==0">
                            <td>{{usuario.cardUID}}</td>
                            <td>{{usuario.nombre}}</td>
                            <td>{{usuario.apellido}}</td>
                            <td *ngIf="usuario.userStatus==1; else inactivo"><i
                                    class="bi bi-person-fill-check fs-3 text-success"></i></td>
                            <ng-template #inactivo>
                                <td><i class="bi bi-person-fill-x fs-3 text-secondary"></i></td>
                            </ng-template>
                            <td>
                                <i class="bi bi-pencil-square fs-3 text-info me-2"
                                    routerLink="/edit-user/{{usuario.cardUID}}"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>