<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Registrar Empleado</span>
            <button class="btn btn-dark btn-lg float-end" routerLink="/list-users"><i class="bi bi-arrow-return-left fs-4"></i> Regresar</button>
            <table class="table table-striped mt-5">
                <thead>
                    <tr>
                        <th scope="col">ID Tarjeta</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Estado</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngFor="let usuario of usuarios; index as i">
                    <tr *ngIf="usuario.userStatus==0">
                        <td>{{usuario.cardUID}}</td>
                        <td><input type="text" class="form-control" formControlName="nombre" placeholder="Nombre"></td>
                        <td><input type="text" class="form-control" formControlName="apellido" placeholder="Apellido"></td>
                        <td *ngIf="usuario.userStatus==1; else inactivo">Activo</td>
                        <ng-template #inactivo><td>Inactivo</td></ng-template>
                        <td>
                            <i class="bi bi-floppy-fill fs-3 text-success me-2"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>