/* Estilos generales */
.navbar {
    padding: 10px;
}

.navbar-brand {
    margin-right: 20px;
}

/* Estilos para pantallas grandes */
@media (min-width: 992px) {
    .navbar-brand {
        margin-right: 20px;
    }
}

  /* Estilos para pantallas medianas */
@media (max-width: 991px) {
    .navbar-brand {
        margin-right: 10px;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .navbar-nav .navbar-brand {
        margin: 5px 0;
    }
}