<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-control">
        <mat-label>Correo electrónico</mat-label>
        <input matInput formControlName="email" type="text" required />
        <mat-error *ngIf="email?.hasError('required')">
            Correo requerido
        </mat-error>
        <mat-error *ngIf="email?.hasError('email')">
            Introduce un correo válido
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-control">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" required />
        <mat-error *ngIf="password?.hasError('required')">
            Contraseña requerida
        </mat-error>
    </mat-form-field>
    <div class="form-footer">
        <button [disabled]="form.invalid" mat-raised-button type="submit">
            Ingresar
        </button>
    </div>
</form>