<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Asistencia de Empleados</span>
            
            <div>
                <table class="table table-striped mt-5">
                    <thead>
                        <tr>
                            <th scope="col">ID Tarjeta</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Estado</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let asistencia of asistencias; index as i">
                        <tr>
                            <td>{{asistencia.uid}}</td>
                            <td>{{asistencia.nombre}}</td>
                            <td>{{asistencia.apellido}}</td>
                            <td>{{asistencia.date}}</td>
                            <td>{{asistencia.time}}</td>
                            <td *ngIf="asistencia.status==1; else checkout"><i class="bi bi-box-arrow-in-right fs-3 text-success"></i></td>
                            <ng-template #checkout><td><i class="bi bi-box-arrow-in-left fs-3 text-danger"></i></td></ng-template>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>